{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block nav_status %}active{% endblock %}
{% block content %}
    <div class="wrapper-content">
        <div class="wrapper-content">
            <div class="col-lg-12 animated fadeInRight" id="split-right">
                <div class="mail-box-header">
                    <div class="uc pull-left m-r-5"><a class="btn btn-sm btn-primary btn-create-cert"
                                                       href="{% url 'certs:cert-create' %}"> {% trans "Create" %} </a>
                    </div>
                    <table class="table table-striped table-bordered table-hover " id="cert_list_table"
                           style="width: 100%">
                        <thead>
                        <tr>
                            <th class="text-center"><input type="checkbox" class="ipt_check_all"></th>
                            <th class="text-center">{% trans 'Name' %}</th>
                            <th class="text-center">{% trans 'Domain' %}</th>
                            <th class="text-center">{% trans 'Organization Name' %}</th>
                            <th class="text-center">{% trans 'Serial number' %}</th>
                            <th class="text-center">{% trans 'Issued By' %}</th>
                            <th class="text-center">{% trans 'Cert Type' %}</th>
                            <th class="text-center">{% trans 'Cert Detection Approach' %}</th>
                            <th class="text-center">{% trans 'Not Before' %}</th>
                            <th class="text-center">{% trans 'Not After' %}</th>
                            <th class="text-center">{% trans 'Remaining Days' %}</th>
                            <th class="text-center">{% trans 'Comment' %}</th>
                            <th class="text-center">{% trans 'Action' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_foot_js %}
    <script>

        var rMenu, cert_table, show = 0;
        var update_node_action = "";

        function initTable() {
            var options = {
                ele: $('#cert_list_table'),
                columnDefs: [
                    {
                        targets: 1, createdCell: function (td, cellData, rowData) {
                            {% url 'certs:cert-detail' pk=DEFAULT_PK as the_url  %}
                            var detail_btn = '<a href="{{ the_url }}" target="_blank" >' + cellData + '</a>';
                            $(td).html(detail_btn.replace('{{ DEFAULT_PK }}', rowData.id));
                        }
                    },
                    {
                        targets: 12, createdCell: function (td, cellData, rowData) {
                            var updateurls = "{% url 'certs:cert-update' pk=DEFAULT_PK %}".replace("{{ DEFAULT_PK }}", cellData);
                            var update_btn = '<a href="' + updateurls + '" class="btn btn-xs btn-info">{% trans "Update" %}</a>';
                            var del_btn = '<a class="btn btn-xs btn-danger m-l-xs btn_cert_delete" data-uid="{{ DEFAULT_PK }}">{% trans "Delete" %}</a>'.replace('{{ DEFAULT_PK }}', cellData);
                            $(td).html(update_btn + del_btn)
                        }
                    }
                ],
                ajax_url: '{% url "api-certs:cert-list" %}',
                columns: [
                    {data: "id"}, {data: "name"}, {data: "domain"}, {data: "organization_name"}, {data: "serial_number"}, {data: "issued_by"}, {data: "cert_type"}, {data: "get_method"}, {data: "notbefore"}, {data: "notafter"}, {data: "remain_days"}, {data: "comment"}, {
                        data: "id",
                        orderable: false
                    }
                ],
                op_html: $('#actions').html()
            };
            cert_table = cert.initDataTable(options);
            return cert_table
        }


        function initTree() {
            var setting = {
                view: {
                    dblClickExpand: false,
                    showLine: true
                },
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                edit: {
                    enable: true,
                    showRemoveBtn: false,
                    showRenameBtn: false,
                    drag: {
                        isCopy: true,
                        isMove: true
                    }
                },
                callback: {}
            };
        }

        $(document).ready(function () {
            initTable();

        })
            .on('click', '.btn-create-cert', function () {
                var url = "{% url 'certs:cert-create' %}";
                window.open(url, '_self');
            })

            .on('click', '.btn_cert_delete', function () {
                var $this = $(this);
                var $data_table = $("#cert_list_table").DataTable();
                var name = $(this).closest("tr").find(":nth-child(2)").children('a').html();
                var uid = $this.data('uid');
                var the_url = '{% url "api-certs:cert-detail" pk=DEFAULT_PK %}'.replace("{{ DEFAULT_PK }}", uid);
                objectDelete($this, name, the_url);
                setTimeout(function () {
                    $data_table.ajax.reload();
                }, 3000);
            })
            .on('click', '#btn_update', function () {
                var action = $('#slct_bulk_update').val();
                var $data_table = $('#cert_list_table').DataTable();
                var id_list = [];
                $data_table.rows({selected: true}).every(function () {
                    id_list.push(this.data().id);
                });
                if (id_list.length === 0) {
                    return false;
                }
                var the_url = "{% url 'api-certs:cert-list' %}";

                function doDelete() {
                    swal({
                        title: "{% trans 'Are you sure?' %}",
                        text: "{% trans 'This will delete the selected assets !!!' %}",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "{% trans 'Confirm' %}",
                        closeOnConfirm: false
                    }).then(function (action) {
                        if (action.value == true) {
                            var success = function () {
                                var msg = "{% trans 'Cert Deleted.' %}";
                                swal("{% trans 'Cert Delete' %}", msg, "success");
                                $('#cert_list_table').DataTable().ajax.reload();
                            };
                            var fail = function () {
                                var msg = "{% trans 'Cert Deleting failed.' %}";
                                swal("{% trans 'Cert Delete' %}", msg, "error");
                            };
                            var url_delete = the_url + '?id__in=' + JSON.stringify(id_list);
                            APIUpdateAttr({
                                url: url_delete,
                                method: 'DELETE',
                                success: success,
                                error: fail
                            });
                            $data_table.ajax.reload();
                            cert.checked = false;
                        }
                    });
                }

                switch (action) {
                    case 'delete':
                        doDelete();
                        break;
                    default:
                        break;
                }
                $(".ipt_check_all").prop("checked", false)
            });
    </script>

{% endblock %}