{% extends '_base.html' %}
{% load static %}
{% load i18n %}

{% block nav_status %}active{% endblock %}
{% block content %}
    <div>
        <div>
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="{% url 'certs:cert-detail' pk=cert.id %}" class="text-center"><i
                                        class="fa fa-laptop"></i> {% trans 'Cert detail' %} </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div>
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <table class="table">
                                        <tbody>
                                        <tr class="no-borders-tr">
                                            <td width="20%">{% trans 'Name' %}:</td>
                                            <td><b>{{ cert.name }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Common Domain' %}:</td>
                                            <td><b>{{ cert.domain }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Orther Domain' %}:</td>
                                            <td>
                                                <b>{{ cert.orther_domain }}</b></td>
                                        </tr>


                                        <tr>
                                            <td>{% trans 'Organization Name' %}:</td>
                                            <td>
                                                <b>{{ cert.organization_name }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Serial number' %}:</td>
                                            <td>
                                                <b>{{ cert.serial_number }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Issued By' %}:</td>
                                            <td>
                                                <b>{{ cert.issued_by }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'SSL Cert Type' %}:</td>
                                            <td>
                                                <b>{{ cert.cert_type }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Cert Detection Approach' %}:</td>
                                            <td>
                                                <b>{{ cert.get_method }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Not Before' %}:</td>
                                            <td>
                                                <b>{{ cert.notbefore }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Not After' %}:</td>
                                            <td>
                                                <b>{{ cert.notafter }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Remaining Days' %}:</td>
                                            <td>
                                                <b>{{ cert.remain_days }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Contact' %}:</td>
                                            <td>
                                                <b>{{ cert.get_contact }}</b></td>
                                        </tr>
                                        <tr>
                                            <td>{% trans 'Comment' %}:</td>
                                            <td><b>
                                                {{ asset.comment|safe }}
                                            </b></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_foot_js %}
    <script>
        $(document).ready(function () {
        })

    </script>
{% endblock %}
