{% load i18n %}
{% load static %}

<!-- css file -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/plugin/skins/_all-skins.min.css' %}" rel="stylesheet">
<link href="{% static 'css/plugin/font-awesome/css/fontawesome-all.min.css' %}" rel="stylesheet">
<link href="{% static 'css/plugin/toastr/toastr.min.css' %}" rel="stylesheet">
<link href="{% static 'css/plugin/datatables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'css/plugin/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<!-- scripts -->
<script src="{% static 'js/jquery-2.2.4.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugin/sweetalert2/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/plugin/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/cert.js' %}"></script>